.app {
  display: flex;
  flex-direction: row;
  height: 78px;
  padding-left: var(--padding);
  padding-right: var(--padding);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: var(--primary-400);
}

.logo {
	width: 178px;
}

.emailLabel {
  height: 36px;
  width: 137px;
  opacity: 0.6;
  color: var(--white);
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  line-height: 18px;
  text-align: right;
}

.logoGrid {
  display: flex;
  align-items: center;
}

.emailGrid {
  display: flex;
  flex-direction: row;
}

.phoneGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.phoneDiv {
  display: flex;
  flex-direction: column;
  margin-left: 18px;
}

.phoneLabel {
  height: 19px;
  width: 100%;
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.verticalSeparator {
  box-sizing: border-box;
  height: 30px;
  width: 3px;
  margin-right: 25px;
  border-left: 1px outset #FFFFFF;
  opacity: 0.3;
}

.separator {
  width: 100%;
  margin-top: -10px;
  border-bottom: 1px solid var(--white);
  opacity: 0.5;
}
