.bg {
	height: 454px;
	width: 320px;
	border: 1px solid #E8E9ED;
	border-radius: 6px;
	background-color: #FFFFFF;
}

.title {
	height: 22px;
	width: 165px;
	color: #212121;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	text-align: center;
}

.description {
	height: 63px;
	width: 214px;
	color: #9FA3A7;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
}
