.bg {
	height: 454px;
	width: 320px;
	border: 1px solid var(--grey-50);
	border-radius: 6px;
	background-color: var(--white);
}

.title {
	height: 22px;
	width: 165px;
	color: var(--black-800);
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	text-align: center;
}

.description {
	height: 63px;
	width: 214px;
	color: var(--grey-100);
	font-size: 14px;
	line-height: 18px;
	text-align: center;
}
