.bg {
	height: 298px;
	background-color: var(--grey);
	display: flex;
  align-items: center;
	flex-direction: column;
	padding-left: var(--padding);
	padding-right: var(--padding);
}

.mainText {
	color: var(--white);
	font-size: 36px;
	font-weight: bold;
	line-height: 44px;
	text-align: center;
}

.divider {
	box-sizing: border-box;
	width: 100%;
	border-bottom: 1px solid var(--white);
	opacity: 0.3;
}

.secondaryText {
	color: var(--white);
	font-size: 20px;
	line-height: 24px;
	text-align: center;
}
