.bg {
	height: 298px;
	background-color: #434350;
  justify-content: center;
}

.mainText {
	height: 88px;
	width: 751px;
	color: #FFFFFF;
	font-size: 36px;
	font-weight: bold;
	line-height: 44px;
	text-align: center;
}

.divider {
	box-sizing: border-box;
	height: 3px;
	width: 1111px;
	border: 1px solid #FFFFFF;
	opacity: 0.3;
}

.secondaryText {
	height: 48px;
	width: 659px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
}
