.bg {
	height: 400px;
  background-color: var(--white);
	display: flex;
	flex-direction: row;
	padding-left: var(--padding);
	padding-right: var(--padding);
	align-items: center;
}

.title {
	height: 15px;
	width: 163px;
	color: var(--grey-800);
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
}

.subtitle {
	height: 96px;
	width: 421px;
	color: var(--black-800);
	font-size: 36px;
	line-height: 48px;
}

.description {
	height: 268px;
	width: 407px;
	color: var(--grey-100);
	font-size: 14px;
	line-height: 26px;
}
