body {
	font-family: Montserrat;
	padding-left: 80px;
  padding-right: 80px;
	padding-bottom: 30px;
	background-color: #001A23;
	.right {
		float: right;
	}
	.left{
		float: left;
	}
	.clearfix {
		clear: both;
	}
	.main {
		margin-top: 0px;
	}
}

.hidden {
	display: none!important;
}

/*
  Color palette
*/
:root {
	--primary: #001A23;
	--primary-50: #F8F9FB;
	--primary-400: #032430;
	--primary-900: #013446;
	--secondary: #EE3643;
	--white : #FFFFFF;
	--grey: #434350;
	--grey-50: #E8E9ED;
	--grey-100: #9FA3A7;
	--grey-500: #6C6C6C;
	--grey-800: #757575;
	--black-800: #212121;
	--yellow: #FBC52B;
}
