@-webkit-keyframes :global(stripes) {
  100% {
    background-position: 0 -50px;
  }
}

@keyframes :global(stripes) {
  100% {
    background-position: 385px 0;
  }
}

:global {
  .loading {
    color: red;
    .material-icons {
      max-width: 30px;
      overflow: hidden;
    }

    * {
      font-family: 'BLOKK';
      font-weight: bold;
      font-size: 16px!important;
      white-space: nowrap;
      color: rgb(197, 206, 210)!important;
      word-spacing: -20px;
    }
  }

}
body {
	margin: 0;
	padding: 0;
	font-family: Montserrat;
	background-color: #001A23;
	.right {
		float: right;
	}
	.left{
		float: left;
	}
	.clearfix {
		clear: both;
	}
	.main {
		margin-top: 0px;
	}
}

.hidden {
	display: none!important;
}
