.title {
  	height: 32px;
  	width: 107px;
  	color: var(--black-800);
  	font-size: 22px;
  	line-height: 32px;
}

.description {
	height: 32px;
	width: 224px;
	color: var(--grey-100);
	font-size: 14px;
	line-height: 26px;
}
