.title {
  	height: 32px;
  	width: 107px;
  	color: #212121;
  	font-size: 22px;
  	line-height: 32px;
}

.description {
	height: 32px;
	width: 224px;
	color: #9FA3A7;
	font-size: 14px;
	line-height: 26px;
}
