.display {
	height: 720px;
	background: url('../img/bg-header.png');
	background-position: center center;
	padding-left: var(--padding);
	padding-right: var(--padding);
}

.img {
	height: 705px;
	opacity: 0.7;
}

.mainText {
  height: 146px;
	color: var(--white);
	font-size: 60px;
	font-weight: bold;
	line-height: 73px;
}

.secondaryText {
	height: 58px;
  width: 353px;
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
	line-height: 29px;
}
